# Auto detect text files and perform LF normalization
* text=auto

# git config files
*.gitattributes text eol=lf
*.gitignore text eol=lf

# TypeScript files
*.ts text eol=lf
*.tsx text eol=lf

# JavaScript files
*.js text eol=lf
*.jsx text eol=lf

# JSON files
*.json text eol=lf

# HTML files
*.html text eol=lf

# EJS files
*.ejs text eol=lf

# CSS files
*.css text eol=lf

# Markdown files
*.md text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.toml text eol=lf

# Image files (binary)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Font files (binary)
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary