<!-- Battle Screen -->
<div id="battle-screen" class="scene d-none">
    <div class="row h-100">
        <%- include('battle-info-panel') %>
        <%- include('battle-log') %>
        <%- include('battle-action-panel') %>
    </div>
    
    <!-- Back to Boss Selection -->
    <div class="position-fixed bottom-0 start-0 p-3">
        <button id="back-to-select-btn" class="btn btn-outline-light" data-i18n="battle.buttons.backToSelect">← ボス選択に戻る</button>
    </div>
</div>
