<!-- Boss Description Modal -->
<div class="modal fade" id="boss-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-3">
                    <span id="modal-boss-icon">👹</span> 
                    <span id="modal-boss-name">ボス名</span>
                </h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h2 id="modal-boss-description" class="fs-5">ボスの説明</h2>
                <p id="modal-boss-stats">
                    <!-- Boss stats will be displayed here -->
                </p>
                <hr>
                <h2 class="fs-5">討伐クエスト内容</h2>
                <p id="modal-boss-quest-note">
                    <!-- Quest note will be displayed here -->
                </p>
                <hr>
                <div id="modal-boss-appearance" class="text-muted d-none">
                    <!-- Boss appearance will be displayed here -->
                </div>
                <div id="modal-boss-guest-info" class="d-none">
                    <!-- Guest character info will be displayed here -->
                </div>
            </div>
            <div id="modal-boss-buttons-confirm" class="modal-footer">
                <!-- Show confirm to go to battle -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" id="confirm-boss-btn">戦闘開始！</button>
            </div>
            <div id="modal-boss-buttons-back" class="modal-footer d-none">
                <!-- Just show back button -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
            </div>
        </div>
    </div>
</div>