<!-- Debug Modal -->
<div class="modal fade" id="debug-modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-warning" data-i18n="debug.title">🔧 デバッグコンソール</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Player Debug Panel -->
                    <div class="col-md-6 mb-4">
                        <div class="card bg-primary">
                            <div class="card-header">
                                <h5 class="mb-0" data-i18n="debug.playerTitle">🐍 プレイヤー</h5>
                            </div>
                            <div class="card-body">
                                <!-- Player HP/MP -->
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" data-i18n="common.hpShort">HP</label>
                                        <input type="number" id="debug-player-hp" class="form-control" min="0">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" data-i18n="common.maxHp">最大HP</label>
                                        <input type="number" id="debug-player-max-hp" class="form-control" min="1">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" data-i18n="common.mpShort">MP</label>
                                        <input type="number" id="debug-player-mp" class="form-control" min="0">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" data-i18n="common.maxMp">最大MP</label>
                                        <input type="number" id="debug-player-max-mp" class="form-control" min="0">
                                    </div>
                                </div>
                                
                                <!-- Status Effects -->
                                <h6 data-i18n="common.statusEffects">ステータス効果</h6>
                                <div id="debug-player-status-effects" class="mb-3">
                                    <!-- Status effects will be populated here -->
                                </div>
                                <button id="debug-add-player-status" class="btn btn-sm btn-outline-light">
                                    <span data-i18n="debug.addStatusEffect">ステータス効果を追加</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Boss Debug Panel -->
                    <div class="col-md-6 mb-4">
                        <div class="card bg-danger">
                            <div class="card-header">
                                <h5 id="debug-boss-name" class="mb-0">👹 <span data-i18n="common.boss">ボス</span></h5>
                            </div>
                            <div class="card-body">
                                <!-- Boss HP -->
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" data-i18n="common.hpShort">HP</label>
                                        <input type="number" id="debug-boss-hp" class="form-control" min="0">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" data-i18n="common.maxHp">最大HP</label>
                                        <input type="number" id="debug-boss-max-hp" class="form-control" min="1">
                                    </div>
                                </div>
                                
                                <!-- Status Effects -->
                                <h6 data-i18n="common.statusEffects">ステータス効果</h6>
                                <div id="debug-boss-status-effects" class="mb-3">
                                    <!-- Status effects will be populated here -->
                                </div>
                                <button id="debug-add-boss-status" class="btn btn-sm btn-outline-light">
                                    <span data-i18n="debug.addStatusEffect">ステータス効果を追加</span>
                                </button>
                                
                                <!-- Custom Variables -->
                                <h6 class="mt-4" data-i18n="common.customVariables">カスタム変数</h6>
                                <div id="debug-boss-custom-vars" class="mb-3">
                                    <!-- Custom variables will be populated here -->
                                </div>
                                <button id="debug-add-custom-var" class="btn btn-sm btn-outline-light">
                                    <span data-i18n="debug.addCustomVar">変数を追加</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="dialogs.common.cancel">キャンセル</button>
                <button id="debug-apply-changes" class="btn btn-success">
                    <span data-i18n="debug.applyChanges">✅ 変更を適用</span>
                </button>
            </div>
        </div>
    </div>
</div>