<!-- Out Game Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            🐍 ElnalFTE
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-boss-select" data-i18n="navigation.bossSelect">
                        ⚔️ ボス選択
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-player-detail" data-i18n="navigation.playerDetail">
                        👤 プレイヤー詳細
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-exploration-record" data-i18n="navigation.explorationRecord">
                        📊 探検記録
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-library" data-i18n="navigation.library">
                        📚 資料庫
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-option" data-i18n="navigation.option">
                        ⚙️ オプション
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-changelog" data-i18n="navigation.changelog">
                        📋 更新履歴
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
