<!-- Out Game Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            🐍 ElnalFTB
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-boss-select">
                        ⚔️ ボス選択
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-player-detail">
                        👤 プレイヤー詳細
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-exploration-record">
                        📊 探検記録
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-library">
                        📚 資料庫
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" id="nav-option">
                        ⚙️ オプション
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>