<!-- Out Game Exploration Record Screen -->
<div id="out-game-exploration-record-screen" class="scene d-none">
    
    <div class="container flex-grow-1 d-flex flex-column">
        <!-- Exploration Record Content -->
        <div class="row mt-4 mb-4 flex-grow-1">
            <div class="col-12">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h5 class="mb-0">📊 探検記録</h5>
                    </div>
                    <div class="card-body">
                        <%- include('player-explorer-panel') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>