<!-- Out Game Library Screen -->
<div id="out-game-library-screen" class="scene d-none">
    
    <div class="container flex-grow-1 d-flex flex-column">
        <!-- Library Content -->
        <div class="row mt-4 mb-4 flex-grow-1">
            <div class="col-12">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h5 class="mb-0" data-i18n="library.title">­ЪЊџ У│ЄТќЎт║Ф</h5>
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <!-- Document List -->
                            <div class="col-md-4">
                                <h6 data-i18n="library.availableDocuments">тѕЕућетЈ»УЃйсЂфУ│ЄТќЎ</h6>
                                <div id="library-document-list">
                                    <!-- Document buttons will be dynamically generated here -->
                                </div>
                            </div>
                            
                            <!-- Document Content -->
                            <div class="col-md-8">
                                <h6 data-i18n="library.documentContent">У│ЄТќЎтєЁт«╣</h6>
                                <div id="library-document-content" style="min-height: 400px; overflow-y: auto;">
                                    <div class="text-center text-muted">
                                        <p class="mb-0" data-i18n="library.selectPrompt">тидсЂІсѓЅУ│ЄТќЎсѓњжЂИТіъсЂЌсЂдсЂЈсЂасЂЋсЂё</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>