<!-- Tabs -->
<ul class="nav nav-tabs mb-3" id="player-details-tabs">
    <li class="nav-item">
        <a class="nav-link active" id="stats-tab" data-bs-toggle="tab" href="#stats-panel">ステータス</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="equipment-tab" data-bs-toggle="tab" href="#equipment-panel">装備</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="skills-tab" data-bs-toggle="tab" href="#skills-panel">スキル</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="items-tab" data-bs-toggle="tab" href="#items-panel">アイテム</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="explorer-tab" data-bs-toggle="tab" href="#explorer-panel">探検記録</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="data-management-tab" data-bs-toggle="tab" href="#data-management-panel">データ管理</a>
    </li>
</ul>