<!-- Items Panel -->
<div class="tab-pane fade" id="items-panel">
    <h6 data-i18n="playerItems.title">所持アイテム</h6>
    <div id="item-list">
        <!-- Item list will be populated here -->
    </div>
</div>