<!-- Data Management Panel -->
<div class="tab-pane fade" id="data-management-panel">
    <h6>💾 データ管理</h6>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary mb-3">
                <div class="card-body text-center">
                    <h6 class="card-title">📤 データエクスポート</h6>
                    <p class="card-text">セーブデータをファイルとして保存します</p>
                    <button id="export-save-btn-modal" class="btn btn-outline-info w-100">
                        エクスポート
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary mb-3">
                <div class="card-body text-center">
                    <h6 class="card-title">📥 データインポート</h6>
                    <p class="card-text">セーブデータをファイルから読み込みます</p>
                    <button id="import-save-btn-modal" class="btn btn-outline-success w-100">
                        インポート
                    </button>
                    <input type="file" id="import-file-input-modal" accept=".json" class="d-none">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary mb-3">
                <div class="card-body text-center">
                    <h6 class="card-title">🗑️ データ削除</h6>
                    <p class="card-text">全てのセーブデータを削除します</p>
                    <button id="delete-save-btn-modal" class="btn btn-outline-danger w-100">
                        削除
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>