<!-- Player Info Edit Modal -->
<div class="modal fade" id="player-info-edit-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" data-i18n="playerInfoEdit.title">プレイヤー情報編集</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="player-name-input" class="form-label" data-i18n="playerInfoEdit.nameLabel">名前（32文字まで）</label>
                    <input type="text" class="form-control" id="player-name-input" maxlength="32" placeholder="プレイヤー名を入力" data-i18n="playerInfoEdit.namePlaceholder" data-i18n-attr="placeholder">
                    <div class="form-text"><span data-i18n="playerInfoEdit.currentName">現在の名前</span>: <span id="current-player-name">エルナル</span></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" data-i18n="playerInfoEdit.iconLabel">アイコン選択</label>
                    <div class="form-text mb-2"><span data-i18n="playerInfoEdit.currentIcon">現在のアイコン</span>: <span id="current-player-icon">🐍</span></div>
                    
                    <!-- Icon category tabs -->
                    <ul class="nav nav-pills nav-sm mb-3" id="icon-category-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-category="動物" href="#" data-icon-category="動物" data-i18n="playerInfoEdit.iconCategories.animal">動物</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-category="ファンタジー" href="#" data-icon-category="ファンタジー" data-i18n="playerInfoEdit.iconCategories.fantasy">ファンタジー</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-category="自然" href="#" data-icon-category="自然" data-i18n="playerInfoEdit.iconCategories.nature">自然</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-category="武器" href="#" data-icon-category="武器" data-i18n="playerInfoEdit.iconCategories.weapon">武器</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-category="エレメント" href="#" data-icon-category="エレメント" data-i18n="playerInfoEdit.iconCategories.element">エレメント</a>
                        </li>
                    </ul>
                    
                    <!-- Icon selection grid -->
                    <div id="icon-selection-grid" class="border rounded p-2" style="max-height: 200px; overflow-y: auto;">
                        <!-- Icons will be populated here -->
                    </div>
                    <div class="form-text"><span data-i18n="playerInfoEdit.selectedIcon">選択中のアイコン</span>: <span id="selected-player-icon">🐍</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="dialogs.common.cancel">キャンセル</button>
                <button type="button" class="btn btn-warning" id="reset-player-info-btn" data-i18n="playerInfoEdit.reset">🔄 リセット</button>
                <button type="button" class="btn btn-primary" id="save-player-info-btn" data-i18n="playerInfoEdit.save">保存</button>
            </div>
        </div>
    </div>
</div>